node_modules
dist
bin
.vscode
*/node_modules
*/dist
.idea/
.sonar
typings
**/typings
**/reports/sonar
tests/mochawesome-reports/
npm-debug.log
**/npm-debug.log
**/target/
err.log
out.log
*.log
*.VC.*
/.vscode/settings.json
*.DS_Store
.DS_Store
